name: Build and Push Docker Image

on:
  pull_request:
    types: [closed]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: "${{ secrets.DOCKERHUB_USERNAME }}"
        password: "${{ secrets.DOCKERHUB_TOKEN }}"

    - name: Build and Push Docker Image
      if: github.event.pull_request.merged == true
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: valerykhirin/github-actions:latest
